{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/nice-select.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/odometer.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="css/dark.css"> -->

    <!-- fontswoseme icons link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src={%static "js/jquery.min.js" %}></script>
    <title>{% if global_data.site_name != '' %}{{global_data.site_name}}{% else %}Demo website name{% endif %}</title>
    <style>
        .card img{
            min-height: 280px;
        }
    </style>
</head>


<body>

    <!-- main top bar -->
    <header>
        <section class="mainTopbar">

            <div class="container-fluid ">
                <div class="row">

                    <div class="col-6 leftSideMainTopBar">

                        <div class="nameInfo">
                            <span>Welcome to {% if global_data.site_name != '' %}{{global_data.site_name}}{% else %}Demo website name{% endif %}</span>
                        </div>
                        <a href=" {% url 'UserProfile' %}">
                        <div class="vehicleInfo">
                            <span>
                                <i class="fa-solid fa-van-shuttle"></i>
                            </span>
                            <span> Track Your Order</span>
                        </div>
                        </a>
                    </div>


                    <div class="col-6 rightSidemainTopBar">
                        <div class="language">

                            <div class="countryImg">
                                <img class="img-fluid "
                                    src="https://images.pexels.com/photos/1202723/pexels-photo-1202723.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="profile_img" />
                            </div>

                            <div class="dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                                <div class="languageInfo">
                                    <span>English</span>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                    <li>
                                        <a class="link dropdown-item">
                                            <span>English</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class=" link dropdown-item">
                                            <span>Nepali</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class=" link dropdown-item">
                                            <span>Hindi</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class=" link dropdown-item">
                                            <span>Arabic</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>



        <!-- top bar -->
        <section class="container-fluid topBar">
            <div class="topBarWrapper">
                <div class="row">

                    <div class="col-md-3 leftSideTopbar">
                        <h1>{% if global_data.site_name != '' %}{{global_data.site_name}}{% else %}Demo website name{% endif %} </h1>
                    </div>
                    <div class="col-5 middleSideTop">

                    <form action="search" method="get" style="display: flex;">
                        {% csrf_token %}
                        <div class="searhInput">
                            <input name="product" type="text" placeholder="Keyword here..." />
                        </div>

                        <div class="searchIcon">
                            <button>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                    </div>
                    <div class="col-3 rightSideTop">

                        <div class="myAccount">
                            <a class="link" href=" {% url 'UserProfile' %} ">
                                <i class="fa-regular fa-user"></i>
                                <p>My Account</p>
                            </a>
                        </div>

                        <div class="wiseList">
                            <a class="link" href="{% url 'WishList' %}">
                                <i class="fa-regular fa-heart"></i>
                                <p>Wish List</p>
                                <span class="badge"> {% if wishvalue %}{{wishvalue}}{% else %}0{% endif %} </span>
                            </a>
                        </div>

                        <div class="cartList">
                            <a class="link" href="{% url 'Cart' %}">
                                <i class="fa-solid fa-cart-arrow-down"></i>
                                <p>My Cart</p>
                                <span class="badge">{% if cartvalue %}{{cartvalue}}{% else %}0{% endif %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <!-- navbar start -->
        <div class="navbar-area">
            <div class="mobile-nav">
                <div class="container-fluid">
                    <div class="mobile-menu">
                        <div class="logo">
                            <!-- <a href="index.html">
                                <img src="assets/img/logo/logo.jpg" alt="logo">
                            </a> -->
                            <div class=" small_device_Logo">
                                <h6>Royal Family </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desktop-nav">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav m-start">
                                <li class="nav-item">
                                    <a href="/" class="nav-link active">
                                        Home
                                    </a>
                                </li>
                                {%for menu in menus %}
                                <li class="nav-item">
                                    <a href="/{%if menu.page_type != "group" %}{{menu.name}}{%else%}#{%endif%}" class="nav-link">
                                        {{menu.caption}}
                                        {% if menu.page_type == "group"  %}
                                        <i class="fa-solid fa-chevron-down"></i>
                                         {% endif %}
                                    </a>
                                    <ul class="dropdown-menu">
                                       
                                        {% for submenu in menu.childs.all %}
                                            <li class="nav-item">
                                                <a href="/{{menu.name}}/{{submenu.name}}" class="nav-link">{{submenu.caption}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <a class="navbar-brand" href="#">
                            <p>
                                {% if global_data.page_keyword != '' %}{{global_data.page_keyword}}{% else %}
                                Special up to 60% Off all item <br><small>change form global-setting (page keyword)</small>
                                {% endif %}
                            </p>
                        </a>
                    </nav>

                </div>
            </div>

        </div>
    </header>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
    {% block contents %}
        <!-- here all contents displayed -->
    {% endblock %}             




    <!-- footer -->

    <div class="d-flex flex-column footer">
        <footer class="w-100 py-4 flex-shrink-0">
            <div class="container py-4">
                <div class="row gy-4 gx-5">

                    <div class="col-lg-4 col-md-6 leftSideFooterData">
                        <h5 class="h1 ">{% if global_data.site_name != '' %}{{global_data.site_name}}{% else %}Demo website name{% endif %}</h5>
                        <p class="small">
                            {% if global_data.page_discription != '' %}{{global_data.page_discription}}{% else %}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            do eiusmod tempor incididunt.
                            {% endif %}
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 middleSideFooterData">
                        <h5 class=" mb-3">My Account</h5>
                        <ul class="footerList">
                            <li>
                                <a href="">My Account</a>
                            </li>
                            <li>
                                <a href="/cart/">Shopping Cart</a>
                            </li>
                            <li>
                                <a href="/login">Login</a>
                            </li>
                            <li>
                                <a href="/register">Register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 middleSideFooterData">
                        <h5 class=" mb-3">Quick links</h5>
                        <ul class="footerList">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/about-us">Contact Us</a>
                            </li>
                            {% comment %} <li>
                                <a href="/contact">Contact Us</a>
                            </li> {% endcomment %}
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 rightSideFooterData">
                        <h5 class=" mb-3">Follow Us</h5>
                        <div class="followUsIcon">
                            <a href="{{global_data.fb_link}}"><i class="fa-brands fa-facebook"></i></a>                            
                            <a href="{{global_data.other_link}}"><i class="fa-brands fa-instagram"></i></a>                            
                            <a href="{{global_data.twitter_link}}"><i class="fa-brands fa-twitter"></i></a>                   
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>



</body>



<script src={%static "js/bootstrap.bundle.min.js" %}></script>

<script src={%static "js/meanmenu.min.js" %}></script>

<script src={%static "js/.min.js" %}></script>

<script src={%static "js/owl.carousel.min.js" %}></script>

<script src={%static "js/nice-select.min.js" %}></script>

<script src={%static "js/magnific-popup.min.js" %}></script>

<script src={%static "js/jarallax.min.js" %}></script>

<script src={%static "js/appear.min.js" %}></script>

<script src={%static "js/odometer.min.js" %}></script>

<script src={%static "js/smoothscroll.min.js" %}></script>

<script src={%static "js/form-validator.min.js" %}></script>

<script src={%static "js/contact-form-script.js" %}></script>

<script src={%static "js/ajaxchimp.min.js" %}></script>

<script src={%static "js/custom.js" %}></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>



</html>