Admin/migrations/*
Admin/__pycache__/*



Ecommerce/__pycache__/*

Ecommerce/migrations/*


media/uploads/53007558.webp
media/uploads/dell_MXzMq1E.jpg
media/uploads/dell.jpg
media/uploads/IMG_2326_500x.webp
media/uploads/istockphoto-162524197-612x612.jpg
media/uploads/lightly-padded-36-2-no-regular-regular-kamini-new-calcados-original-imagc5sszyrm_Qfjp6qJ.jpg
media/uploads/lightly-padded-36-2-no-regular-regular-kamini-new-calcados-original-imagc5sszyrm_RHlPvxn.jpg
media/uploads/professional-php-thumb_1.png
media/uploads/samsung.webp
media/uploads/shirt.jpg
media/uploads/usb_card_reader.jpg
