<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <!-- <li>
            <div class="hide-menu text-center">
                <div id="eco-spark"></div>
                <small>TOTAL EARNINGS - JUNE 2020</small>
                <h4>$2,478.00</h4>
            </div>
        </li> -->
        <!-- <li class="nav-small-cap">----PRODUCTS AND CATEGORY</li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">GENERAL <span class="badge rounded-pill bg-cyan ms-auto">6</span></span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'NavigationList' %}">Main Navigation</a></li>
                <li><a href="{% url 'HomeNavigationList' %}">Home Navigation</a></li>
                <li><a href="{% url 'ProductList' %}">Products</a></li>
                <li><a href="{% url 'GlobalCreate' %}">Global Settings</a></li>
                <li><a href="{% url 'Blogs' %}">Blogs</a></li>
                <li><a href="{% url 'Teams' %}">Teams</a></li>
            </ul>
        </li> -->
        {% if request.user.role == request.user.CENTRAL %}
        <li class="nav-small-cap">----USER INFORMATION</li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-layers"></i><span class="hide-menu">YOUR INFORMATION<span class="badge rounded-pill bg-cyan ms-auto">4</span></span></a>
            <ul aria-expanded="false" class="collapse">
                <!-- <li><a href="{% url 'CustomerOrder' %}">CUSTOMER ORDERS</a></li> -->
                <li><a href="{% url 'UserPersonalInformationCreate' %}">PERSONAL INFORMATION</a></li>
                <li><a href="{% url 'UserApplicationFormCreate' %}">APPLICATION</a></li>
                <li><a href="{% url 'UserApplicationReview' %}">APPLICATION REVIEWED</a></li>
                <li><a href="{% url 'UserApplicationResult' %}">PRINT RESULT</a></li>
            </ul>
        </li>
      {% endif %}
        <li class="nav-small-cap">----CLIENT ACTIVITIES</li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-layers"></i><span class="hide-menu">USERS APPLICATION<span class="badge rounded-pill bg-cyan ms-auto">4</span></span></a>
            <ul aria-expanded="false" class="collapse">
                <!-- <li><a href="{% url 'CustomerOrder' %}">CUSTOMER ORDERS</a></li> -->
                <li><a href="{% url 'Order' %}">ALL APPLICATION</a></li>
                <li><a href="{% url 'Pending' %}">PENDING</a></li>
                <li><a href="{% url 'Delivered' %}">APPROVED</a></li>
                <li><a href="{% url 'Order' %}">REFERRED</a></li>
                <li><a href="{% url 'CanclelledOrders' %}">REJECTED</a></li>
            </ul>
        </li>
        
        <li class="nav-small-cap">----USERS</li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">USERS <span class="badge rounded-pill bg-cyan ms-auto">4</span></span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'AdvanceUserList' role_id=0 %}">User Type</a></li>
                <li><a href="{% url 'UserList' %}">USERS</a></li>
                <li><a href="{% url 'RoleList' %}">ROLE</a></li>
                <li><a href="{% url 'GroupList' %}">Group</a></li><!----Group is combination of different permissions-->
                <li><a href="{% url 'PermissionList' %}">PERMISSION</a></li>
                <li><a href="{% url 'UserLogs' %}">LOGS</a></li>
            </ul>
        </li>
        <li> <a href="{% url 'ChatApp' %}" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">CHAT-APP<span class="badge rounded-pill bg-cyan ms-auto"></span></span></a>
        </li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-email"></i><span class="hide-menu">Email</span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href="{% url 'MailApp' %}">Mailbox</a></li>
                <li><a href="{% url 'MailDetail' %}">Mailbox Detail</a></li>
                <li><a href="{% url 'MailCompose' %}">Compose Mail</a></li>
            </ul>
        </li>
       
     
    </ul>
</nav>