{% load staticfiles %}
<div class="row">

    <!-- column -->
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Application Review Progress bar <a class="get-code" data-bs-toggle="collapse" href="#pgr2" aria-expanded="true"><i class="fa fa-code" title="Get Code" data-bs-toggle="tooltip"></i></a></h4>
                <div class="collapse m-t-15" id="pgr2"> <pre class="line-numbers language-javascript"><code>&lt;div class="progress"&gt;<br/>&lt;div class="progress-bar bg-success" role="progressbar" style="width: 75%;height:15px;" role="progressbar""&gt; 75% &lt;/div&gt;<br/>&lt;/div&gt;</code></pre> </div>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-success" style="width: {% if id_data.user.is_verified == True %} 100% {% else %} 25% {% endif %} ; height:15px;" role="progressbar">{% if id_data.user.is_verified == True %}100% {% else %} 25{% endif %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <center>
            <h3 class="">FENFIT APPLICATION</h3>
            <h6 class="card-subtitle text-info"> {% if id_data.user.is_verified == True %} You are verified {% else %} Not Verified Yet {% endif %}</h6>
                <!-- <h4 class="box-title m-t-40">Application description</h4>
                <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. but the majority have suffered alteration in some form, by injected humour</p> -->
                <h2 class="m-t-4"><small class="text-success">{% if id_data.user.is_verified == True %} (100% COMPLETED) {% else %} (25% COMPLETED) {% endif %}</small></h2>
                <button class="btn btn-{% if id_data.user.is_verified == True %}success btn-rounded{% else %}primary btn-rounded{% endif %} btn-rounded">{% if id_data.user.is_verified == True %} You are Aproved {% else %} Not Verified Yet{% endif %}</button> 
        </center>      
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <center>
           <h3 class="box-title m-t-4">Comments Highlights</h3>
           {% if id_data.user.is_verified == True %} 
            <ul class="list-unstyled">
                <li><i class="fa fa-check text-success"></i>  structure</li>
                <li><i class="fa fa-check text-success"></i> Designed to foster easy portability</li>
                <li><i class="fa fa-check text-success"></i> Perfect furniture to flaunt your wonderful collectibles</li>
            </ul>
            {% else %}
                Do somethings
            {% endif %}
        </center>
    </div>
    <!-- column -->
</div>

<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                    </div>

              
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title m-t-40">General Info</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="390">Name</td>
                                        <td> {{id_data.owner_full_name}} </td>
                                    </tr>
                                    <tr>
                                        <td>state</td>
                                        <td>{{id_data.state}}</td>
                                    </tr>
                                    <tr>
                                        <td>district</td>
                                        <td>{{id_data.district}}</td>
                                    </tr>
                                    <tr>
                                        <td>Munciplity</td>
                                        <td>{{id_data.municipality}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ward Number</td>
                                        <td> {{id_data.ward_number}} </td>
                                    </tr>
                                    <tr>
                                        <td>Tole</td>
                                        <td> {{id_data.tole}} </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>