{% load staticfiles %}
<div class="row">

    <!-- column -->
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Application Review Progress bar <a class="get-code" data-bs-toggle="collapse" href="#pgr2" aria-expanded="true"><i class="fa fa-code" title="Get Code" data-bs-toggle="tooltip"></i></a></h4>
                <div class="collapse m-t-15" id="pgr2"> <pre class="line-numbers language-javascript"><code>&lt;div class="progress"&gt;<br/>&lt;div class="progress-bar bg-success" role="progressbar" style="width: 75%;height:15px;" role="progressbar""&gt; 75% &lt;/div&gt;<br/>&lt;/div&gt;</code></pre> </div>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-success" style="width: {% if id_data.user.is_verified == True %} 100% {% else %} 25% {% endif %} ; height:15px;" role="progressbar">{% if id_data.user.is_verified == True %}100% {% else %} 25{% endif %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <center>
            <h3 class="">FENFIT सदस्यको दरखास्त फाराम</h3>
            <h6 class="card-subtitle text-info"> {% if id_data.user.is_verified == True %} You are verified {% else %} Not Verified Yet {% endif %}</h6>
                <!-- <h4 class="box-title m-t-40">Application description</h4>
                <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. but the majority have suffered alteration in some form, by injected humour</p> -->
                <h2 class="m-t-4"><small class="text-success">{% if id_data.user.is_verified == True %} (100% COMPLETED) {% else %} (25% COMPLETED) {% endif %}</small></h2>
                <button class="btn btn-{% if id_data.user.is_verified == True %}success btn-rounded{% else %}primary btn-rounded{% endif %} btn-rounded">{% if id_data.user.is_verified == True %} You are Aproved {% else %} Not Verified Yet{% endif %}</button> 
        </center>      
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <center>
            {% if id_data.user.is_verified == True %} 
                <h3 class="box-title m-t-4">कृपया यो डाउनलोड गर्नुहोस्|</h3>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check text-success"></i> फेन्फिटको सदस्य हुन पाएकोमा बधाई छ|</li>
                </ul>
                <button class="btn btn-success btn-rounded">PRINT</button> 
            {% else %}
                <h3 class="box-title m-t-4">टिप्पणी हाइलाइट्स</h3>
            {% endif %}
           {% if id_data.user.is_verified == True %} 
           
            {% else %}
            <ul class="list-unstyled">
                <li><i class="fa fa-info text-success"></i> के तपाईंको जिल्लाको नाम सही छ?</li>
                <li><i class="fa fa-info text-success"></i> के तपाईंको सबै कागजात सही छ?</li>
                <li><i class="fa fa-info text-success"></i> कृपया पर्खनुहोस् यो चाँडै स्वीकृत हुन सक्छ|</li>
            </ul>
            {% endif %}
        </center>
    </div>
    <!-- column -->
</div>

<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
         {% if id_data.user.is_verified == False %}     
            <div class="nibedan-form">
                <div class="form-logo">
                    <img src="/static/assets/images/logo-2.png">
                </div>
                <h2 class="main-title">सदस्यता अद्यावद्यिक प्रमाण पत्र </h2>
                <div class="nibedan-form-top">
                    <div class="form-top-left">
                        <p>श्रीमान मनोज ज्यू<br>
                            सोलुखुम्बु काष्ठ व्यवसायी संघ (फर्म।कम्पनी)</p>
                        <label>.........................।</label>
                    </div>
                    <div class="form-top-right">
                        <span class="date">मिति ः ...................</span>
                    </div>
                </div>
                <div class="nibedan-form-body">
                    <h2>बिषय ः सदस्यता सम्बन्धमा ।</h2>
                    <p>तपाईले सदस्यता अद्यावद्यिकका लागि मिति २०७९।००।०० मा पेश गर्नु भएको आबेदन अनुसार त्यहाँ संस्थाको 
                        विधान अनुरुप का कार्यहरु सम्पन्न गरि आबद्धताका लागि बुझाउनुपर्ने दस्तुर समेत बभु mाई सक्नुभएकोलेनेपाल
                        वन पैदावार उद्योग ब्यवसायि संघको विधान बमोजिम मिति २०८०।००।०० सम्म बहाल रहने गरि सदस्यता 
                        अद्यावद्यिक प्रमाण पत्र प्रदान गरिएको छ । संघको उद्धेश्य परिपुर्तिमा विधान बमोजिम सदस्यहरको हित रक्षार्थ 
                        क्रियाशील हुनु हुने छ भन्ने विश्वास लिएको छु । तपाईको कार्यकाल सफल र उत्कृष्ट रहोस भन्ने शुभकामना ब्यक्त 
                        गर्दछु । </p>
                    <h5>संलग्न कागजातहरु ः–</h5>
                    <ul>
                        <li>नागरिकताको प्रमाणित प्रतिलिपि १ थान ।</li>
                        <li>उद्योग वा कम्पनी दर्ता प्रमाण पत्रको प्रतिलिपि ।</li>
                        <li>नागरिकताको प्रमाणित प्रतिलिपि १ थान ।</li>

                        <li>उद्योग वा कम्पनी दर्ता प्रमाण पत्रको प्रतिलिपि ।</li>

                        <li>नागरिकताको प्रमाणित प्रतिलिपि १ थान ।</li>
                        <li>उद्योग वा कम्पनी दर्ता प्रमाण पत्रको प्रतिलिपि ।</li>

                    </ul>
                </div>
                <div class="nibedan-form-footer">
                    <div class="user-info">
                        <label style="font-weight: bold;">आवेदक</label>
                        <label>उद्यमीको नाम ः <span class="user-info-data">Manoj Singh ddddddddddddDas</span></label>
                        <label>दस्तखत ः <span class="user-info-data">Manoj Singh Das</span></label>
                        <label>उद्यमीको नाम ः <span class="user-info-data">Manoj Singh Das</span></label>
                        <label>दस्तखत ः <span class="user-info-data">Manoj Singh Das</span></label>
                        <label>उद्यमीको नाम ः <span class="user-info-data">Manoj Singh Das</span></label>
                        {% load staticfiles %}
                        <label>दस्तखत ः <span class="user-info-data"><img src="{% static '/assets/images/signature.jpeg' %}"></span></label>
                    </div>
                    <div class="user-address">
                        <label>ठेगाना ः जिल्ला ................</label>
                        <label>न.पा.÷गा.पा .......................</label>
                        <label>ठेगाना ः जिल्ला ................</label>
                        <label>न.पा.÷गा.पा .......................</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                    </div>              
                </div>
            </div>
          {% else %}
          <div class="nibedan-form">
            <div class="form-logo">
                <img src="/static/assets/images/logo-2.png">
            </div>
            <h2 class="main-title">सदस्यता आवेदन फारम</h2>
            <div class="nibedan-form-top">
                <div class="form-top-left">
                    <p>श्रीमान अध्यक्षज्यू<br>
                        नेपाल वन पैदावार उद्योग व्यवसायी संघ</p>
                    <label>.........................।</label>
                </div>
                <div class="form-top-right">
                    <span class="date">मिति ः ...................</span>
                </div>
            </div>
            <div class="nibedan-form-body">
                <h2>बिषय ः सदस्यता सम्बन्धमा ।</h2>
                <p>वन पैदावारमा आधारित सम्पुर्ण उद्योग व्यवसायीहरुको हकहित संरक्षण र पैरवी गर्ने त्यस
                    जिल्ला संघको विधानको अधिनमा रहि नीति, कार्यक्रम तथा निर्णयहरुको पूर्णरुपमा पालना गर्ने
                    प्रतिबद्धता जाहेर गर्दै जिल्ला संघको सदस्यता लिई आवद्ध हुन चाहेकोले आवस्यक दस्तुर र तपसिल
                    बमोजिमका कागजात यसैआवेदन आवेदन साथ पेश गर्दछु।</p>
                <h5>संलग्न कागजातहरु ः–</h5>
                <ul>
                    <li>नागरिकताको प्रमाणित प्रतिलिपि १ थान ।</li>
                    <li>उद्योग वा कम्पनी दर्ता प्रमाण पत्रको प्रतिलिपि ।</li>
                    <li>नागरिकताको प्रमाणित प्रतिलिपि १ थान ।</li>

                    <li>उद्योग वा कम्पनी दर्ता प्रमाण पत्रको प्रतिलिपि ।</li>

                    <li>नागरिकताको प्रमाणित प्रतिलिपि १ थान ।</li>
                    <li>उद्योग वा कम्पनी दर्ता प्रमाण पत्रको प्रतिलिपि ।</li>

                </ul>
            </div>
            <div class="nibedan-form-footer">
                <div class="user-info">
                    <label style="font-weight: bold;">आवेदक</label>
                    <label>उद्यमीको नाम ः <span class="user-info-data">Manoj Singh ddddddddddddDas</span></label>
                    <label>दस्तखत ः <span class="user-info-data">saroj Singh Das</span></label>
                    <label>उद्यमीको नाम ः <span class="user-info-data">Manoj Singh Das</span></label>
                    <label>दस्तखत ः <span class="user-info-data">Manoj Singh Das</span></label>
                    <label>उद्यमीको नाम ः <span class="user-info-data">Manoj Singh Das</span></label>
                    {% load staticfiles %}
                    <label>दस्तखत ः <span class="user-info-data"><img src="{% static '/assets/images/signature.jpeg' %}"></span></label>
                </div>
                <div class="user-address">
                    <label>ठेगाना ः जिल्ला ................</label>
                    <label>न.पा.÷गा.पा .......................</label>
                    <label>ठेगाना ः जिल्ला ................</label>
                    <label>न.पा.÷गा.पा .......................</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="white-box text-center"> <img src="{{id_data.certificate_company_registration.url}}" class="img-responsive"> </div>
                </div>              
            </div>
        </div>
          {% endif %}

            <style>
                .nibedan-form{
                    padding: 50px 20px;
                    max-width: 600px;
                    border: 1px solid #d9d6d6;
                }
                .nibedan-form p{
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #000;
                    text-align: justify;
                }
                .nibedan-form .form-logo{
                    text-align: center;
                }
                .nibedan-form .form-logo img{
                    max-width: 500px;
                    width: 100%;
                    margin-bottom: 20px;
                }
                h2.main-title{
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: bold;
                    text-align: center;
                }
                .nibedan-form-top{
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 50px 0;
                }
                .form-top-left{
                    float: left;
                }
                .form-top-right{
                    float: right;
                }
                .nibedan-form-body{
                    position: relative;
                    display: block;
                    margin-top: 50px;
                }
                .nibedan-form-body h2{
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: bold;
                    text-align: center;
                }
                .nibedan-form-body h5{
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: bold;
                    text-decoration: underline;
                }
                .nibedan-form-body ul li{
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #000;
                    text-align: justify;
                }
                .nibedan-form-footer .user-info{
                    text-align: left;
                    padding-right: 20px;
                }
                .nibedan-form-footer .user-info label{
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #000;
                    display: block;
                    margin-bottom: 10px;
                }
                .nibedan-form-footer .user-info label img{
                    max-width: 150px;
                }
                .nibedan-form-footer .user-info label .user-info-data{
                    max-width: 150px;
                    min-width: 150px;
                    overflow: hidden;
                }
                .nibedan-form-footer .user-address{
                    margin-top: 20px;
                }
                .nibedan-form-footer .user-address label{
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #000;
                    display: inline-block;
                    margin-bottom: 10px;
                    width: 49%;
                }
                @media (max-width:767px) {
                    .nibedan-form-footer .user-info,
                    .nibedan-form-footer .user-address{
                        padding-right: 0;
                        text-align: center;
                    }
                    .nibedan-form-footer .user-address label{
                        width: 100%;
                    }
                }
            </style>
        </div>
    </div>
    <!-- Column -->
</div>