{% load admin_custom_tag %}
    <!-- Info box Content applicant user personal information-->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url action %}" method="post" enctype="multipart/form-data" enctype="multipart/form-data" onSubmit = "return checkPassword(this)">
                                {% csrf_token %}
                                    <div class="form-body">
                                        <h5 class="card-title">फारम</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">सदस्य/संस्थागत<span class="required">*</span></label>
                                                    <select id="member_admin" class="form-control" name="member_admin" data-placeholder="Choose a Category" tabindex="1" required>
                                                        <option value='member' {% if id_data.member_admin == 'member' %} selected {% endif %}>सामान्य सदस्य हुन चाहेको </option>
                                                        <option value="admin" {% if id_data.member_admin == 'admin' %} selected {% endif %}> संस्थागत आबध्दता</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6" id="role_type_sh">
                                                <div class="form-group">
                                                    <label class="form-label">संघको प्रकार<span class="required">*</span></label>
                                                    <select id="role_type" class="form-control" name="role_type" data-placeholder="Choose a Category" tabindex="1">
                                                        <option value='4' {% if id_data.apply_role_type == 4 %} selected {% endif %}>{{id_data.company_name}} बस्तुगत संघ</option>
                                                        <option value='3' {% if id_data.apply_role_type == 3 %} selected {% endif %}>जिल्ला संघ</option>
                                                        <option value='2' {% if id_data.apply_role_type == 2 %} selected {% endif %}>प्रदेश संघ</option>
                                                    </select>
                                                </div>
                                            </div>   
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">उधेागमिको नाम्<span class="required">*</span></label>
                                                    <input type="text" id="first" name="owner_full_name" class="form-control" value="{{ id_data.first_name }}" placeholder="Albert">
                                                </div>
                                            </div>     
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">व्यवसायको नाम<span class="required">*</span></label>
                                                    <select class="form-control" name="business_name" data-placeholder="Choose a Category" tabindex="1" required>
                                                        <option value='0' selected>व्यवसाय चयन गर्नुहोस्</option>
                                                        {% for business,value in business_type.items%}
                                                            <option value="{{business}}" {% if form_data.business_name == business %} selected {% endif %}>{{value|get_item:'name_1'}}</option>
                                                        {% endfor %}
                                                </select>
                                                </div>
                                            </div>                                        
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="form-label">इमेल <span class="required">*</span></label>
                                                    <input type="email" name="email" value="{{id_data.email}}" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="form-label">सम्पर्क नम्बर<span class="required">*</span></label>
                                                    <input type="number" name="phone" value="{{id_data.phone}}" class="form-control" disabled>
                                                </div>
                                            </div>
                                                <!--/span-->
                                            
                                                <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="form-label">जिल्ला<span class="required">*</span></label>
                                                    <input type="text" name="district" value="{{id_data.district_name|get_districtName}}" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="form-label">राज्य(State)<span class="required">*</span></label>
                                                    <input type="text" name="state" value="{{id_data.state_name|get_StateName}}" class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4" >
                                                <div class="form-group">
                                                    <label class="form-label">उद्योग/कम्पनीको नाम<span class="required">*</span></label>
                                                    <input type="text" name="company_name" value="{{form_data.company_name}}" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">सदस्य हुन चाहेको संघ<span class="required">*</span></label>
                                                    <select class="form-control" name="union_type" id="district_private_select" data-placeholder="Choose a Category" tabindex="1" required>
                                                        <option value='district' {% if form_data.union_type == 'district' %} selected {% endif %}>जिल्ला</option>
                                                        <option value="private" {% if form_data.union_type == 'private' %} selected {% endif %}> बस्तुगत संघ</option>
                                                    </select>
                                                </div>
                                            </div>          
                                            <div class="col-md-4">
                                                <div class="form-group" id="private_org_sh">
                                                    <label class="form-label">सदस्य हुन चाहेको संघको नाम<span class="required">*</span></label>
                                                    <select class="form-control" name="union_name" data-placeholder="Choose a Category" tabindex="1" required>
                                                        <option value='0' selected>संघ चयन गर्नुहोस्</option>
                                                        {% for organizataion in private_organization%}
                                                            <option value="{{organizataion.email}}" {% if form_data.union_name == organizataion.email %} selected {% endif %}>{{organizataion.company_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-4" id="district_org_sh">
                                                    <div class="form-group">
                                                        <label class="form-label">जिल्ला संघ<span class="required">*</span></label>
                                                        <input type="text" name="district" value="{{id_data.district_name}}" class="form-control" disabled>
                                                    </div>
                                                </div>
                                            </div> 
                                            
                                            
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label class="form-label">नगरपालिका/गाउँपालिका<span class="required">*</span></label>
                                                    <select  class="form-control" name="municipality" data-placeholder="Choose a Category" tabindex="1"  required>
                                                        <option value='0' selected>नगरपालिका/गाउँपालिका चयन गर्नुहोस्</option>
                                                        {% for vdc in total_vdc %}
                                                            <option value="{{vdc.name}}" {% if form_data.municipality == vdc.name %} selected {% endif %}>{{vdc.alt_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label class="form-label">वडा नं.<span class="required">*</span></label>
                                                    <input type="text" name="ward_number" value="{{form_data.ward_number}}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label class="form-label">Tole<span class="required">*</span></label>
                                                    <input type="text" name="tole" value="{{form_data.tole}}" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>  
                                        <!----team member list-->
                                        
                                        <!-------team members forms------------>

                                        <!-- Info box Content -->
                                                   <!-- ============================================================== -->
                                        <div class="row" id="team_sh" {% if id_data.member_admin == 'member' %} style="display:none;" {% endif %}>
                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-body">                                                                   
                                                            <div class="form-body">
                                                            <input type="hidden" name="next" value="{{ request.path }}">                                    
                                                            <div id="team">
                                                                <div class="mt-2" style="height: 42px;">
                                                                    <h5 class="card-title" style="position: absolute;">कार्य समितिका पदाधिकारि फारम</h5>
                                                                    <button id="addmember" type="button" style="float: right;" class="btn btn-success text-white"> <i class="fa fa-plus"></i> Add Member</button>
                                                                        <input type='hidden' id="count"  name="count" value="{% if team|length == 0 %} 1 {%endif%}">
                                                                </div> 
                                                            
                                                                <div id="team1">
                                                                    <img src="https://plus1group.com.au/wp-content/uploads/2018/07/1_Circle_Wealth.png" class="img-circle" style="margin-bottom: -36px;" width="50px" height="50px">                                          
                                                                                                                
                                                                    <div class="row mt-2" style="border: inset;">
                                                                        <input type='hidden'  name="teamid1" value="">
                                                                        <div class="col-md-8 mt-4">                                                   
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label class="form-label">Name</label>
                                                                                        <input type="text" id="team_name1" name="team_name1" class="form-control"   placeholder="Name of the member"> 
                                                                                    </div>
                                                                                </div>
                                                                                <!--/span-->
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label class="form-label">Post</label>
                                                                                        <input type="text" name="team_post1" class="form-control" placeholder="Post of member"> 
                                                                                    </div>
                                                                                </div>
                                                                                <!--/span-->
                                                                            </div>
                                                                            <div class="row">                                    
                                                                                <div class="col-md-6 ">
                                                                                    <div class="form-group">
                                                                                        <label class="form-label">Email Address</label>
                                                                                        <input type="email" name="team_email1" class="form-control" rows="4">
                                                                                    </div>
                                                                                </div>                                                
                                                                            
                                                                                <div class="col-md-6 ">
                                                                                    <div class="form-group">
                                                                                        <label class="form-label">Mobile number
                                                                                        <input type="number" name="team_phone1" class="form-control" rows="4">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="card">
                                                                                <div class="card-body">
                                                                                <label class="form-label">Profile Picture</label> <br>                                                            
                                                                                    <input name="team_image1" type="file" id="input-file-now" class="dropify" />
                                                                                    </div>
                                                                                    <style>
                                                                                        .dropify-wrapper{
                                                                                            height: 120px;
                                                                                        }
                                                                                    </style>
                                                                            </div>
                                                                        </div>
                                                                    </div>                                                            
                                                                </div>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if id_data.member_admin == 'admin' %}
                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="card-body" style="overflow: scroll ;">
                                                            <h4 class="card-title">कार्य समितिका पदाधिकारिहरु</h4>                                                        
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Name</th>
                                                                            <th>POST</th>
                                                                            <th>Email</th>
                                                                            <th>Number</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for team in request.user.teams.all %}
                                                                        <tr>
                                                                            <td>{{team.id}}</td>
                                                                            <td>{{team.name}}</td>
                                                                            <td><span class="label label-success">{{team.post}}</span></td>
                                                                            <td>{{team.email}}</td>
                                                                            <td>{{team.phone}}</td>
                                                                            <td>    
                                                                                {% if team.image %}                                               
                                                                                    <img src="{{team.image.url}}" class="" alt="{{team.name}}" width="80" height="50">
                                                                                {% else %}
                                                                                    none
                                                                                {% endif %}
                                                                            </td>   
                                                                            <td><a href="{% url 'DeleteTeam' id=team.id %}"><span class="label label-danger">delete</span></a> </td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                                                        
                                                                    
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                            <div class="nibedan-form">
                                                <div class="form-logo">
                                                    <img src="/static/assets/images/logo-2.png">
                                                </div>
                                                <h2 class="main-title">{% if id_data.member_admin == 'admin' %} संस्थागत आबध्दता फारम {% else %} सदस्यता आवेदन फारम {% endif %}</h2>
                                                <div class="nibedan-form-top">
                                                    <div class="form-top-left">
                                                        <p>श्रीमान अध्यक्षज्यू<br>
                                                            नेपाल वन पैदावार उद्योग व्यवसायी संघ</p>
                                                        <label><u>जिल्ला {{id_data.district_name|get_districtName}}</u></label>
                                                    </div>
                                                    <div class="form-top-right">
                                                        <span class="date">मिति ः <u>{{form_data.updated_at|get_NepaliDate}}</u></span>
                                                    </div>
                                                </div>
                                                <div class="nibedan-form-body">
                                                    <h2>बिषय ः {% if id_data.member_admin == 'admin' %} संस्थागत आबध्दता उपलब्धता गराइदिने सम्वन्धमा {% else %} सदस्यता सम्बन्धमा {% endif %}।</h2>
                                                    <p>वन पैदावारमा आधारित सम्पुर्ण उद्योग व्यवसायीहरुको हकहित संरक्षण र पैरवी गर्ने त्यस
                                                        जिल्ला संघको विधानको अधिनमा रहि नीति, कार्यक्रम तथा निर्णयहरुको पूर्णरुपमा पालना गर्ने
                                                        प्रतिबद्धता जाहेर गर्दै जिल्ला संघको सदस्यता लिई आवद्ध हुन चाहेकोले आवस्यक दस्तुर र तपसिल
                                                        बमोजिमका कागजात यसैआवेदन आवेदन साथ पेश गर्दछु।</p>
                                                    <h5>संलग्न कागजातहरु ः–</h5>
                                                    <ul>
                                                        <li>नागरिकताको प्रमाणित प्रतिलिपि १ थान ।</li>
                                                        <li>उद्योग वा कम्पनी दर्ता प्रमाण पत्रको प्रतिलिपि ।</li>
                                                        <li>स्थायी लेखा नम्बरको प्रतिलिपि ।</li>        
                                                        <li>लेखा परिक्षण प्रतिवेदनको प्रतिलिपि (नयाँ दर्ताको लागि आवस्यक नपर्ने) ।</li>        
                                                        <li>कर चुक्ता प्रमाण पत्रको प्रतिलिपि (नयाँ दर्ताको लागि आवस्यक नपर्ने) ।</li>
        
                                                    </ul>
                                                </div>
                                                <div class="nibedan-form-footer">
                                                    <div class="user-info">
                                                        <label style="font-weight: bold;">आवेदक</label>
                                                        <label>उद्यमीको नाम ः <span class="user-info-data">{{id_data.first_name}}</span></label>
                                                        <label>उद्योग वा व्यवसायको नाम ः <span class="user-info-data">{{business_name}}</span></label>
                                                        <label>सम्र्पक नं ः <span class="user-info-data">{{id_data.phone}}</span></label>
                                                        <label>इमेल ः <span class="user-info-data">{{id_data.email}}</span></label>
                                                        {% load staticfiles %}
                                                        <label>दस्तखत ः <span class="user-info-data"><img src="{% if id_data.signature %} {{id_data.signature.url}} {% endif %}"></span></label>
                                                    </div>
                                                    <div class="user-address">
                                                        <label>ठेगाना ः जिल्ला <u>{{id_data.district_name|get_districtName}}</u></label>
                                                        <label>न.पा.÷गा.पा <u>{{form_data.municipality|get_MuncipalityName}}</u></label>
                                                        <label>वडा नं.<u>{{form_data.ward_number}}</u></label>
                                                        <label>टोल <u>{{form_data.tole}}</u></label>
                                                    </div>
                                                </div>
                                        
                                            </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <h4 class="card-title">नागरिकता पर्तिलिपि<span class="required">*</span></h4>
                                                                <input name="certificate_citizenship" type="file" id="certificate_citizenship" class="dropify"/>
                                                            </div>
                                                        </div>
                                                        {% if form_data.certificate_citizenship %}
                                                            <script>
                                                                $("#certificate_citizenship").attr("data-default-file", "{{form_data.certificate_citizenship.url}}");
                                                            </script>
                                                        {% endif %}
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <h4 class="card-title">कम्पनी दर्ताको प्रमाण पत्र पर्तिलिपि<span class="required">*</span>​</h4>
                                                                <input name="certificate_company_registration" type="file" id="certificate_company_registration" class="dropify" />
                                                            </div>
                                                        </div>
                                                        {% if form_data.certificate_company_registration %}
                                                            <script>
                                                                $("#certificate_company_registration").attr("data-default-file", "{{form_data.certificate_company_registration.url}}");
                                                            </script>
                                                        {% endif %}
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <h4 class="card-title">स्थायी लेखा नम्बरको पर्तिलिपि<span class="required">*</span></h4>
                                                                <input name="provisional_account_number" type="file" id="provisional_account_number" class="dropify" />
                                                            </div>
                                                        </div>
                                                        {% if form_data.provisional_account_number %}
                                                            <script>
                                                                $("#provisional_account_number").attr("data-default-file", "{{form_data.provisional_account_number.url}}");
                                                            </script>
                                                        {% endif %}
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <h4 class="card-title">लेखा परिक्षण पर्तिवेदन्को पर्तिलिपि<span class="required">*</span></h4>
                                                                <input name="auditing" type="file" id="auditing" class="dropify" />
                                                            </div>
                                                        </div>
                                                        {% if form_data.auditing %}
                                                            <script>
                                                                $("#auditing").attr("data-default-file", "{{form_data.auditing.url}}");
                                                            </script>
                                                        {% endif %}
                                                    </div>
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">कर चुक्ता प्रमाण पत्रको पर्तिलिपि<span class="required">*</span></h4>
                                                            <input name="tax_paid_certificate" type="file" id="tax_paid_certificate" class="dropify" />
                                                        </div>
                                                    </div>
                                                    {% if form_data.tax_paid_certificate %}
                                                        <script>
                                                            $("#tax_paid_certificate").attr("data-default-file", "{{form_data.tax_paid_certificate.url}}");
                                                        </script>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">हस्ताक्षर को साथ मिति<span class="required">*</span></h4>
                                                            <input name="signature" type="file" id="signature" class="dropify" />
                                                        </div>
                                                    </div>
                                                    {% if id_data.signature %}
                                                        <script>
                                                            $("#signature").attr("data-default-file", "{{id_data.signature.url}}");
                                                        </script>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                            <hr> 
                                        </div>
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    
                                    <style>
                                        .required{
                                            color: red;
                                            font-size: 20px;
                                        }
                                        .card-title{
                                            font-size: 16px;
                                        }
                                        .nibedan-form{
                                            padding: 50px 20px;
                                            border: 1px solid #d9d6d6;
                                        }
                                        .nibedan-form p{
                                            font-size: 14px;
                                            line-height: 24px;
                                            font-weight: 400;
                                            color: #000;
                                            text-align: justify;
                                        }
                                        .nibedan-form .form-logo{
                                            text-align: center;
                                        }
                                        .nibedan-form .form-logo img{
                                            max-width: 500px;
                                            width: 100%;
                                            margin-bottom: 20px;
                                        }
                                        h2.main-title{
                                            font-size: 18px;
                                            line-height: 22px;
                                            font-weight: bold;
                                            text-align: center;
                                        }
                                        .nibedan-form-top{
                                            position: relative;
                                            display: block;
                                            width: 100%;
                                            padding: 50px 0;
                                        }
                                        .form-top-left{
                                            float: left;
                                        }
                                        .form-top-right{
                                            float: right;
                                        }
                                        .nibedan-form-body{
                                            position: relative;
                                            display: block;
                                            margin-top: 50px;
                                        }
                                        .nibedan-form-body h2{
                                            font-size: 16px;
                                            line-height: 22px;
                                            font-weight: bold;
                                            text-align: center;
                                        }
                                        .nibedan-form-body h5{
                                            font-size: 16px;
                                            line-height: 22px;
                                            font-weight: bold;
                                            text-decoration: underline;
                                        }
                                        .nibedan-form-body ul li{
                                            font-size: 14px;
                                            line-height: 24px;
                                            font-weight: 400;
                                            color: #000;
                                            text-align: justify;
                                        }
                                        .nibedan-form-footer .user-info{
                                            text-align: left;
                                            padding-right: 20px;
                                        }
                                        .nibedan-form-footer .user-info label{
                                            font-size: 14px;
                                            line-height: 24px;
                                            font-weight: 400;
                                            color: #000;
                                            display: block;
                                            margin-bottom: 10px;
                                        }
                                        .nibedan-form-footer .user-info label img{
                                            max-width: 150px;
                                        }
                                        .nibedan-form-footer .user-info label .user-info-data{
                                            max-width: 150px;
                                            min-width: 150px;
                                            overflow: hidden;
                                        }
                                        .nibedan-form-footer .user-address{
                                            margin-top: 20px;
                                        }
                                        .nibedan-form-footer .user-address label{
                                            font-size: 14px;
                                            line-height: 24px;
                                            font-weight: 400;
                                            color: #000;
                                            display: inline-block;
                                            margin-bottom: 10px;
                                            width: 49%;
                                        }
                                        @media (max-width:767px) {
                                            .nibedan-form-footer .user-info,
                                            .nibedan-form-footer .user-address{
                                                padding-right: 0;
                                                text-align: center;
                                            }
                                            .nibedan-form-footer .user-address label{
                                                width: 100%;
                                            }
                                        }
                                    </style>
                                    <div class="form-actions m-t-40">
                                        <button type="submit" class="btn btn-success text-white" value="0" name="submits"> <i class="fa fa-check"></i>SEND</button>
                                        <button type="button" class="btn btn-dark">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!--==============================================================-->
                <!-- End PAge Content -->
                <script>
                    var private_district = $("#district_private_select").val()
                    if(private_district=="district"){
                        $("#district_org_sh").show()
                        $("#private_org_sh").hide()
                    }
                    else if(private_district=="private"){
                        $("#district_org_sh").hide()
                        $("#private_org_sh").show()
                    }
                    $("#district_private_select").change(function() {
                        if(this.value=="private"){
                            $("#district_org_sh").hide()
                            $("#private_org_sh").show()
                        }
                        else if(this.value=="district"){
                            $("#district_org_sh").show()
                            $("#private_org_sh").hide()
                        }
                    })
                    $("#member_admin").change(function() {
                        if(this.value=="member"){
                            $("#team_sh").hide()
                        }
                        else if(this.value=="admin"){
                            $("#team_sh").show()
                        }
                    })
                    

                  
                    // Function to check Whether both passwords
                    // is same or not.
                    function checkPassword(form) {
                        password1 = form.password1.value;
                        password2 = form.password2.value;
          
                        // If password not entered
                        if (password1 == ''){
                            return true
                            // alert ("password remain same");
                        }
                        // If confirm password not entered
                        else if (password2 == ''){
                            return true
                            // alert ("password remain same");
                        }
                        // If Not same return False.    
                        else if (password1 != password2) {
                            alert ("\nPassword did not match: Please try again...")
                            return false;
                        }
          
                        // If same return True.
                        else{
                            return true;
                        }
                    }
                </script>
 
 <script>
    $(document).ready(function(){
            $('#addmember').click(function(){         
                var i = $('#count').val();
                var i = parseInt(i) + 1 ;
                $('#count').val(i)
                var hi = `
                            <img src="https://plus1group.com.au/wp-content/uploads/2018/07/1_Circle_Wealth.png" class="img-circle" style="margin-bottom: -36px;" width="50px" height="50px">
                            <div id="team1" class="row mt-2" style="border: inset;">
                                <input type='hidden'  name='teamid`+i+`' value=''>
                                <div class="col-md-9 mt-4">                                                   
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Name</label>
                                                <input type="text" id="pname" name="fname`+i+`" class="form-control" value=""  placeholder="Name of the member"> </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Post</label>
                                                <input type="text" name="fpost`+i+`" id="lastName" class="form-control" value="" placeholder="Post of member"> </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">                                    
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <label class="form-label">Email Address</label>
                                                <input type="email" name="team_email`+i+`" class="form-control" rows="4">
                                            </div>
                                        </div>                                                
                                    
                                        <div class="col-md-6 ">
                                            <div class="form-group">
                                                <label class="form-label">Mobile number</label>
                                                <input type="number" name="team_phone`+i+`" class="form-control" rows="4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                        <label class="form-label">Profile Picture</label>
                                            <input name="team_image`+i+`" type="file" id="input-file-now" class="dropify" />
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        `;

                $("#team1").after(hi);
                // console.log("hi");
            });            
            
        });           
        
        role_type = $( "#member_admin").val()
        if(role_type == 'admin'){
            $("#role_type_sh").show()
        }
        else if(role_type == 'member'){
            $("#role_type_sh").hide()
        }
        
        $( "#member_admin" ).change(function() {
        var role_type = $(this).val()
        if(role_type == 'admin'){
            $("#role_type_sh").show()
        }
        else if(role_type == 'member'){
            $("#role_type_sh").hide()
        }
     });
</script>
                