{% load staticfiles %}
<div class="row">

    <!-- column -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Application Review Progress bars <a class="get-code" data-bs-toggle="collapse" href="#pgr2" aria-expanded="true"><i class="fa fa-code" title="Get Code" data-bs-toggle="tooltip"></i></a></h4>
                <div class="collapse m-t-15" id="pgr2"> <pre class="line-numbers language-javascript"><code>&lt;div class="progress"&gt;<br/>&lt;div class="progress-bar bg-success" role="progressbar" style="width: 75%;height:15px;" role="progressbar""&gt; 75% &lt;/div&gt;<br/>&lt;/div&gt;</code></pre> </div>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-success" style="width: 45%; height:15px;" role="progressbar">75%</div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
</div>

<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="">FENFIT APPLICATION</h3>
                <h6 class="card-subtitle text-info">Pending on STATE LEVEL</h6>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="white-box text-center"> <img src="{% static '/assets/images/gallery/company.jpg' %}" class="img-responsive"> </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-6">
                        <h4 class="box-title m-t-40">Application description</h4>
                        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. but the majority have suffered alteration in some form, by injected humour</p>
                        <h2 class="m-t-40"><small class="text-success">(36% completed)</small></h2>
                        <button class="btn btn-primary btn-rounded">Not Approved</button>
                        <h3 class="box-title m-t-40">Key Highlights</h3>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check text-success"></i> Sturdy structure</li>
                            <li><i class="fa fa-check text-success"></i> Designed to foster easy portability</li>
                            <li><i class="fa fa-check text-success"></i> Perfect furniture to flaunt your wonderful collectibles</li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3 class="box-title m-t-40">General Info</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="390">Name</td>
                                        <td> Bishal Thapa </td>
                                    </tr>
                                    <tr>
                                        <td>Citizenship number</td>
                                        <td>2034802309840</td>
                                    </tr>
                                    <tr>
                                        <td>state</td>
                                        <td>Gandaki</td>
                                    </tr>
                                    <tr>
                                        <td>district</td>
                                        <td>Kathmandu</td>
                                    </tr>
                                    <tr>
                                        <td>Munciplity</td>
                                        <td> Kathmandu</td>
                                    </tr>
                                    <tr>
                                        <td>Ward Number</td>
                                        <td> 8 </td>
                                    </tr>
                                    <tr>
                                        <td>Upholstery Included</td>
                                        <td> Yes </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>