
                <form action="" class="changeUserDataPassword">

                    <div class="changeUserDataPasswordField">
                        <label htmlFor="">Current Password</label>
                        <br />
                        <input type="text" />
                    </div>
                    
                    <div class="changeUserDataPasswordField">
                        <label htmlFor="">New Password</label>
                        <br />
                        <input type="email" />
                    </div>

                    <div class="changeUserDataPasswordField">
                        <label htmlFor=""> Password</label>
                        <br />
                        <input type="email" />
                    </div>
                </form>

                <div class="changePasswordButton">
                    <button>save</button>
                </div>
            </div>

        </div>
    </div>










