
    <form action="" class="changeUserData">

        <div class="changeUserDataInputField">
            <label htmlFor="">Full Name</label>
            <br />
            <input type="text" value="{{user_detail.first_name}}" />
        </div>

        <div class="changeUserDataInputField">
            <label htmlFor="">Email</label>
            <br />
            <input type="email" value="{{user_detail.email}}" disabled/>
        </div>
    </form>

    <div class="submmitButton">
        <button>save </button>
    </div>
</div>
</div>
</div>







