{% extends 'layout/master.html' %}
{% block contents %}

    <!-- checkout box -->

    <div class="container mt-5">
        <div class="row">
            <div class="shippingUserData">

                <div class="shippingData">
                    <h3>Old Address</h3>

                    <span>Shipping address: Kathmandu</span>
                    <br>
                    <span>Billing address: Kathmandu Nepal</span>
                    <br>

                    <div class="selectOldBtn">
                       <a href="#"> Select old address</a>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class=" checkoutPage">
        <div class="container">
            <div class="fluid">
                <form class="checkoutFrom" method="post" action="{% url "CheckOut"%}" >
                    <div class=" LoginFormContainer">
                            {% csrf_token %}
                            <div class="row">
                                <h4>Shipping Address</h4>
                                <div class="col-md-6">
                                    <div class="inputBoxLogin">
                                        <input label="Name" name="name" type="text" placeholder="Full Name *" required />
                                    </div>

                                    <div class="inputBoxLogin">
                                        <input label="Phone" name="phone" type="number" placeholder="Phone * " required/>
                                    </div>
                                    <div class="inputBoxLogin">
                                        <input label="shipping Address" name="address" type="text"
                                            placeholder="Shipping address *" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="inputBoxLogin">
                                        <input label="Email" name="email" type="text" placeholder="Email" />
                                    </div>

                                    <div class="inputBoxLogin">
                                        <input label="Billing Address" name="baddress" type="text"
                                            placeholder=" Billing Address" />
                                    </div>
                                    <div class="inputBoxLogin">
                                        <input label="Curent Address" name="caddress" type="text"
                                            placeholder="Curent Address" />
                                    </div>


                                </div>
                            </div>

                            <div class="checkoutButton">
                                    <button type="submit">Continue</button>                              
                            </div>
                    </div>

                </form>
            </div>
        </div>


    </div>




{% endblock %}