{% load staticfiles %}
    {% load mathfilters %}   
<style>
    .dropdown-toggle::after {
        display: none;
    }
    .modal-dialog {
        max-width: 100% !important;
    }
</style>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">            
                    <div class="right-page-header">
                        <div class="d-flex">
                            <div class="align-self-center">
                                <h4 class="card-title m-t-10">{{slug1}} </h4>
                            </div>
                            <div class="ms-auto">
                                <input type="text" class="form-control" placeholder="Search & enters" id="orderSearch">    
                            </div>
                        </div>
                    </div>
             
                <div class="table-responsive" style="overflow-x: scroll;">
                    <table class="table product-overview">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Full Name</th>
                                <th>नागरिकता पर्तिलिपि</th>
                                <th>कम्पनी दर्ताको प्रमाण पत्र पर्तिलिपि</th>
                                <th>स्थायी लेखा नम्बरको पर्तिलिपि</th>      
                                <th>लेखा परिक्षण पर्तिवेदन्को पर्तिलिपि</th>
                                <th>कर चुक्ता प्रमाण पत्रको पर्तिलिपि</th>   
                                <th>द्वारा स्थानान्तरण</th> 
                                <th>जिल्ला</th>                                                   
                                <th>विवरण हेर्नुहोस्</th>
                                <th>दर्ता गरिएको मिति</th>
                                <th>स्थिति</th>   
                                <th style="display:none">email</th>                            
                            </tr>
                        </thead>
                        {% if all_data %}
                        <tbody id="tableSearch">
                            {% for i in all_data %}
                              {% if request.user.role == request.user.PRIVATE and i.union_name == request.user.email%} 
                                      <!----this is for private sangha-->            
                                <tr>
                                    <td>{{i.id}}</td>
                                    <td>{{i.applicationform.all.first.get_user_application_detail.owner_full_name}}</td>
                                    <td class="zoom-gallery">
                                        {% if i.applicationform.all.first.get_user_application_detail.certificate_citizenship %} 
                                        <a href="{{i.applicationform.all.first.get_user_application_detail.certificate_citizenship.url}}" title=""> <img src="{{i.applicationform.all.first.get_user_application_detail.certificate_citizenship.url}}" style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                        {% else %}
                                            NotFound
                                        {% endif %}
                                    </td>
                                    <td class="zoom-gallery">
                                        {% if i.applicationform.all.first.get_user_application_detail.certificate_company_registration %}  
                                        <a href="{{i.applicationform.all.first.get_user_application_detail.certificate_company_registration.url}}" title=""> <img src="{{i.applicationform.all.first.get_user_application_detail.certificate_company_registration.url}}"   style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>                                             
                                        <!-- <img src="{{i.get_user_application_detail.certificate_company_registration.url}}" class="" alt="{{i.product.image1}}" width="80" height="50"> -->
                                        {% else %}
                                            NotFound
                                        {% endif %}
                                    </td>
                                    <td class="zoom-gallery">    
                                        {% if  i.applicationform.all.first.get_user_application_detail.provisional_account_number %}        
                                        <a href="{{ i.applicationform.all.first.get_user_application_detail.provisional_account_number.url}}" title=""> <img src="{{i.applicationform.all.first.get_user_application_detail.provisional_account_number.url}}"  style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                        {% else %}
                                            NotFound
                                        {% endif %}
                                    </td>   
                                    <td class="zoom-gallery">
                                        {% if i.applicationform.all.first.get_user_application_detail.auditing %}    
                                        <a href="{{i.applicationform.all.first.get_user_application_detail.auditing.url}}" title=""> <img src="{{ i.applicationform.all.first.get_user_application_detail.auditing.url}}"   style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                        {% else %}
                                            NotFound
                                        {% endif %}
                                    </td> 
                                    <td class="zoom-gallery">
                                        {% if  i.applicationform.all.first.get_user_application_detail.tax_paid_certificate %}       
                                        <a href="{{ i.applicationform.all.first.get_user_application_detail.tax_paid_certificate.url}}" title=""> <img src="{{ i.applicationform.all.first.get_user_application_detail.tax_paid_certificate.url}}"   style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                        {% else %}
                                            NotFound
                                        {% endif %}
                                    </td>  <!-- this is quantity-->
                                    <td>{{i.dsc}}</td>
                                    <td>{{i.district_name}}</td>
                                    <td><button data-bs-toggle="modal" data-bs-target="#order_detail{{i.id}}" class="btn waves-effect waves-light btn-secondary model_img img-responsive">view</button></td>
                                    <td><span class="label label-info">{{i.updated_at}}</span></td>
                                    <td><span class="label label-success">{% if i.is_verified == True %} Approved {% elif i.is_verified == False %} Processing {% endif %}</span></td>
                                    {% if action%}
                                    <td>
                                    <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical" style="color: red;"></i>
                                            </a>

                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item"  href="{% url "AllMemberList" pk=i.id approved_pending_cancelled='p'  %}"> 
                                                    {%if i.is_verified == False %} 
                                                    <i class="bi bi-check-lg"></i> 
                                                    {% else %} &nbsp; &nbsp;
                                                        {% endif %}
                                                    Pending
                                                </a></li>
                                                <li>
                                                    <a class="dropdown-item" href="{% url "AllMemberList" pk=i.id approved_pending_cancelled='a'  %}"> 
                                                        {%if i.is_verified == True %} 
                                                    <i class="bi bi-check-lg"></i> 
                                                    {% else %} &nbsp; &nbsp;
                                                        {% endif %}
                                                    Approved
                                                    </a>
                                                </li>
                                
                                                <li><a class="dropdown-item" href="{% url "AllMemberList" pk=i.id approved_pending_cancelled='c'  %}">
                                                    Cancelled
                                                </a></li>
                                                
                                            </ul>
                                            </div>
                                    </td>
                                    <td style="display:none">{{i.phone}}</td>  
                                    <td style="display:none">{{i.get_shipping_address.email}}</td>
                                    {% endif %}                                                          
                                </tr>
            
                            {% else %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.applicationform.all.first.get_user_application_detail.owner_full_name}}</td>
                                <td class="zoom-gallery">
                                    {% if i.applicationform.all.first.get_user_application_detail.certificate_citizenship %} 
                                    <a href="{{i.applicationform.all.first.get_user_application_detail.certificate_citizenship.url}}" title=""> <img src="{{i.applicationform.all.first.get_user_application_detail.certificate_citizenship.url}}" style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td>
                                <td class="zoom-gallery">
                                    {% if i.applicationform.all.first.get_user_application_detail.certificate_company_registration %}  
                                    <a href="{{i.applicationform.all.first.get_user_application_detail.certificate_company_registration.url}}" title=""> <img src="{{i.applicationform.all.first.get_user_application_detail.certificate_company_registration.url}}"   style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>                                             
                                    <!-- <img src="{{i.get_user_application_detail.certificate_company_registration.url}}" class="" alt="{{i.product.image1}}" width="80" height="50"> -->
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td>
                                <td class="zoom-gallery">    
                                    {% if  i.applicationform.all.first.get_user_application_detail.provisional_account_number %}        
                                    <a href="{{ i.applicationform.all.first.get_user_application_detail.provisional_account_number.url}}" title=""> <img src="{{i.applicationform.all.first.get_user_application_detail.provisional_account_number.url}}"  style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td>   
                                <td class="zoom-gallery">
                                    {% if i.applicationform.all.first.get_user_application_detail.auditing %}    
                                    <a href="{{i.applicationform.all.first.get_user_application_detail.auditing.url}}" title=""> <img src="{{ i.applicationform.all.first.get_user_application_detail.auditing.url}}"   style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td> 
                                <td class="zoom-gallery">
                                    {% if  i.applicationform.all.first.get_user_application_detail.tax_paid_certificate %}       
                                    <a href="{{ i.applicationform.all.first.get_user_application_detail.tax_paid_certificate.url}}" title=""> <img src="{{ i.applicationform.all.first.get_user_application_detail.tax_paid_certificate.url}}"   style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td>  <!-- this is quantity-->
                                <td>{{i.dsc}}</td>
                                <td>{{i.district_name}}</td>
                                <td><button data-bs-toggle="modal" data-bs-target="#order_detail{{i.id}}" class="btn waves-effect waves-light btn-secondary model_img img-responsive">view</button></td>
                                <td><span class="label label-info">{{i.updated_at}}</span></td>
                                <td><span class="label label-success">{% if i.is_verified == True %} Approved {% elif i.is_verified == False %} Processing {% endif %}</span></td>
                                {% if action%}
                                <td>
                                <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical" style="color: red;"></i>
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item"  href="{% url "AllMemberList" pk=i.id approved_pending_cancelled='p'  %}"> 
                                                {%if i.is_verified == False %} 
                                                <i class="bi bi-check-lg"></i> 
                                                {% else %} &nbsp; &nbsp;
                                                    {% endif %}
                                                Pending
                                            </a></li>
                                            <li>
                                                <a class="dropdown-item" href="{% url "AllMemberList" pk=i.id approved_pending_cancelled='a'  %}"> 
                                                    {%if i.is_verified == True %} 
                                                <i class="bi bi-check-lg"></i> 
                                                {% else %} &nbsp; &nbsp;
                                                    {% endif %}
                                                Approved
                                                </a>
                                            </li>
                            
                                            <li><a class="dropdown-item" href="{% url "AllMemberList" pk=i.id approved_pending_cancelled='c'  %}">
                                                Cancelled
                                            </a></li>
                                            
                                        </ul>
                                        </div>
                                </td>
                                <td style="display:none">{{i.phone}}</td>  
                                <td style="display:none">{{i.get_shipping_address.email}}</td>
                                {% endif %}                                                          
                            </tr>
                            {% endif%}
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----modal-->

<div class="card">
    <div class="card-body">      
        <!-- sample modal content -->
        <!----for loop-->
       {% for id_data in all_data %} 
        <div id="order_detail{{id_data.id}}" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter">सदस्य विवरण</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                   
                        <!-------content start-->
                        <div class="row">
                            <div class="col-md-6">
                            <div class="nibedan-form">
                                <div class="form-logo">
                                    <img src="/static/assets/images/logo-2.png">
                                </div>
                                <h2 class="main-title">सदस्यता आवेदन फारम</h2>
                                <div class="nibedan-form-top">
                                    <div class="form-top-left">
                                        <p>श्रीमान अध्यक्षज्यू<br>
                                            नेपाल वन पैदावार उद्योग व्यवसायी संघ</p>
                                        <label><u>जिल्ला {{id_data.district_name|get_districtName}}</u></label>
                                    </div>
                                    <div class="form-top-right">
                                       <span class="date">मिति ः <u>{{id_data.updated_at|get_NepaliDate}}</u></span>
                                    </div>
                                </div>
                                <div class="nibedan-form-body">
                                    <h2>बिषय ः सदस्यता सम्बन्धमा ।</h2>
                                    <p>वन पैदावारमा आधारित सम्पुर्ण उद्योग व्यवसायीहरुको हकहित संरक्षण र पैरवी गर्ने त्यस
                                        जिल्ला संघको विधानको अधिनमा रहि नीति, कार्यक्रम तथा निर्णयहरुको पूर्णरुपमा पालना गर्ने
                                        प्रतिबद्धता जाहेर गर्दै जिल्ला संघको सदस्यता लिई आवद्ध हुन चाहेकोले आवस्यक दस्तुर र तपसिल
                                        बमोजिमका कागजात यसैआवेदन आवेदन साथ पेश गर्दछु।</p>
                                    <h5>संलग्न कागजातहरु ः–</h5>
                                    <ul>
                                        <li>नागरिकताको प्रमाणित प्रतिलिपि १ थान ।</li>
                                        <li>उद्योग वा कम्पनी दर्ता प्रमाण पत्रको प्रतिलिपि ।</li>
                                        <li>स्थायी लेखा नम्बरको प्रतिलिपि ।</li>        
                                        <li>लेखा परिक्षण प्रतिवेदनको प्रतिलिपि (नयाँ दर्ताको लागि आवस्यक नपर्ने) ।</li>        
                                        <li>कर चुक्ता प्रमाण पत्रको प्रतिलिपि (नयाँ दर्ताको लागि आवस्यक नपर्ने) ।</li>
                    
                                    </ul>
                                </div>
                                <div class="nibedan-form-footer">
                                    <div class="user-info">
                                        <label style="font-weight: bold;">आवेदक</label>
                                        <label>उद्यमीको नाम ः <span class="user-info-data">{{id_data.first_name}}</span></label>
                                        <label>उद्योग वा व्यवसायको नाम ः <span class="user-info-data">{{business_name}}{{id_data.applicationform.all.first.get_user_application_detail.business_name|get_NepaliBusinessName}}</span></label>
                                        <label>सम्र्पक नं ः <span class="user-info-data">{{id_data.phone}}</span></label>
                                        <label>इमेल ः <span class="user-info-data">{{id_data.email}}</span></label>
                                        {% load staticfiles %}
                                        <label>दस्तखत ः <span class="user-info-data"><img src="{% static '/assets/images/signature.jpeg' %}"></span></label>
                                    </div>
                                    <div class="user-address">
                                        <label>ठेगाना ः जिल्ला <u>{{id_data.district_name|get_districtName}}</u></label>
                                        <label>न.पा.÷गा.पा <u>{{id_data.applicationform.all.first.get_user_application_detail.municipality|get_MuncipalityName}}</u></label>
                                        <label>वडा नं.<u>{{id_data.applicationform.all.first.get_user_application_detail.ward_number}}</u></label>
                                        <label>टोल <u>{{id_data.applicationform.all.first.get_user_application_detail.tole}}</u></label>
                                    </div>
                                </div>
                                
                            </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6 img-data-area">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">नागरिकता पर्तिलिपि</h4>
                                                <img src="{{id_data.applicationform.all.first.get_user_application_detail.certificate_citizenship.url}}" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">कम्पनी दर्ताको प्रमाण पत्र</h4>
                                                <img src="{{id_data.applicationform.all.first.get_user_application_detail.certificate_company_registration.url}}" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">स्थायी लेखा नम्बरको पर्तिलिपि</h4>
                                                <img src="{{id_data.applicationform.all.first.get_user_application_detail.provisional_account_number.url}}" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">लेखा परिक्षण पर्तिवेदन्को पर्तिलिपि</h4>
                                                <img src="{{id_data.applicationform.all.first.get_user_application_detail.auditing.url}}" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">कर चुक्ता प्रमाण पत्रको पर्तिलिपि</h4>
                                                <img src="{{id_data.applicationform.all.first.get_user_application_detail.tax_paid_certificate.url}}" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    </div>
                            </div>
                            <hr> 
                        </div>
                        <style>
                            .card-title{
                                font-size: 16px;
                             }
                            .nibedan-form{
                                padding: 50px 20px;
                                max-width: 600px;
                                border: 1px solid #d9d6d6;
                            }
                            .nibedan-form p{
                                font-size: 14px;
                                line-height: 24px;
                                font-weight: 400;
                                color: #000;
                                text-align: justify;
                            }
                            .nibedan-form .form-logo{
                                text-align: center;
                            }
                            .nibedan-form .form-logo img{
                                max-width: 500px;
                                width: 100%;
                                margin-bottom: 20px;
                            }
                            h2.main-title{
                                font-size: 18px;
                                line-height: 22px;
                                font-weight: bold;
                                text-align: center;
                            }
                            .nibedan-form-top{
                                position: relative;
                                display: block;
                                width: 100%;
                                padding: 50px 0;
                            }
                            .form-top-left{
                                float: left;
                            }
                            .form-top-right{
                                float: right;
                            }
                            .nibedan-form-body{
                                position: relative;
                                display: block;
                                margin-top: 50px;
                            }
                            .nibedan-form-body h2{
                                font-size: 16px;
                                line-height: 22px;
                                font-weight: bold;
                                text-align: center;
                            }
                            .nibedan-form-body h5{
                                font-size: 16px;
                                line-height: 22px;
                                font-weight: bold;
                                text-decoration: underline;
                            }
                            .nibedan-form-body ul li{
                                font-size: 14px;
                                line-height: 24px;
                                font-weight: 400;
                                color: #000;
                                text-align: justify;
                            }
                            .nibedan-form-footer .user-info{
                                text-align: left;
                                padding-right: 20px;
                            }
                            .nibedan-form-footer .user-info label{
                                font-size: 14px;
                                line-height: 24px;
                                font-weight: 400;
                                color: #000;
                                display: block;
                                margin-bottom: 10px;
                            }
                            .nibedan-form-footer .user-info label img{
                                max-width: 150px;
                            }
                            .nibedan-form-footer .user-info label .user-info-data{
                                max-width: 150px;
                                min-width: 150px;
                                overflow: hidden;
                            }
                            .nibedan-form-footer .user-address{
                                margin-top: 20px;
                            }
                            .nibedan-form-footer .user-address label{
                                font-size: 14px;
                                line-height: 24px;
                                font-weight: 400;
                                color: #000;
                                display: inline-block;
                                margin-bottom: 10px;
                                width: 49%;
                            }
                            .img-data-area img{
                                max-width: 300px;
                                min-width: 300px;
                                max-height: 300px;
                                object-fit: fill;
                                border: 1px solid #dbdbdb;
                                padding: 5px;
                                object-fit: contain;
                            }
                            @media (max-width:767px) {
                                .nibedan-form-footer .user-info,
                                .nibedan-form-footer .user-address{
                                    padding-right: 0;
                                    text-align: center;
                                }
                                .nibedan-form-footer .user-address label{
                                    width: 100%;
                                }
                                .img-data-area img{
                                    max-width: 100%;
                                    min-width: auto;
                                    max-height: initial;
                                }
                            }
                        </style>
                        <!-------content end-->
                        <!-----close order detail-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info waves-effect text-white" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {% endfor %}
        <!----end for loop  -->
    </div>
</div>
