{% load staticfiles %}
    {% load mathfilters %}   
<style>
    .dropdown-toggle::after {
        display: none;
    }
    .modal-dialog {
        max-width: 100% !important;
    }
</style>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{slug1}} </h5>
                <div class="table-responsive" style="overflow-x: scroll;">
                    <table class="table product-overview">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Full Name</th>
                                <th>नागरिकता पर्तिलिपि</th>
                                <th>कम्पनी दर्ताको प्रमाण पत्र पर्तिलिपि</th>
                                <th>अस्थायी लेखा नम्बरको पर्तिलिपि</th>      
                                <th>लेखा परिक्षण पर्तिवेदन्को पर्तिलिपि</th>
                                <th>कर चुक्ता प्रमाण पत्रको पर्तिलिपि</th>   
                                <th>द्वारा स्थानान्तरण</th> 
                                <th>जिल्ला</th>                                                   
                                <th>विवरण हेर्नुहोस्</th>
                                <th>दर्ता गरिएको मिति</th>
                                <th>स्थिति</th>   
                                <th style="display:none">email</th>                            
                            </tr>
                        </thead>
                        {% if all_data %}
                        <tbody id="tableSearch">
                            {% for i in all_data %}   
                                                              
                            <tr>                
                                <td>{{i.id}}</td>
                                {% with i=i.approved_form %}
                                <td>{{i.get_user_application_detail.owner_full_name}}</td>
                                <td class="zoom-gallery">
                                    {% if i.get_user_application_detail.certificate_citizenship %} 
                                    <a href="{{i.get_user_application_detail.certificate_citizenship.url}}" title="Caption. Can be aligned to any side and contain any HTML."> <img src="{{i.get_user_application_detail.certificate_citizenship.url}}" style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td>
                                <td class="zoom-gallery">
                                    {% if i.get_user_application_detail.certificate_company_registration %}  
                                    <a href="{{i.get_user_application_detail.certificate_company_registration.url}}" title="Caption. Can be aligned to any side and contain any HTML."> <img src="{{i.get_user_application_detail.certificate_company_registration.url}}"   style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>                                             
                                    <!-- <img src="{{i.get_user_application_detail.certificate_company_registration.url}}" class="" alt="{{i.product.image1}}" width="80" height="50"> -->
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td>
                                <td class="zoom-gallery">    
                                    {% if i.get_user_application_detail.provisional_account_number %}        
                                    <a href="{{i.get_user_application_detail.provisional_account_number.url}}" title="Caption. Can be aligned to any side and contain any HTML."> <img src="{{i.get_user_application_detail.provisional_account_number.url}}"  style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td>   
                                <td class="zoom-gallery">
                                    {% if i.get_user_application_detail.auditing %}    
                                    <a href="{{i.get_user_application_detail.auditing.url}}" title="Caption. Can be aligned to any side and contain any HTML."> <img src="{{i.get_user_application_detail.auditing.url}}"   style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td> 
                                <td class="zoom-gallery">
                                    {% if i.get_user_application_detail.tax_paid_certificate %}       
                                    <a href="{{i.get_user_application_detail.tax_paid_certificate.url}}" title="Caption. Can be aligned to any side and contain any HTML."> <img src="{{i.get_user_application_detail.tax_paid_certificate.url}}"   style='width:80px; height:50px;' class="img-responsive" alt="img" /> </a>
                                    {% else %}
                                        NotFound
                                    {% endif %}
                                </td>  <!-- this is quantity-->
                               
                                <td>{{i.dsc}}</td>
                                <td>{{i.get_user_application_detail.district}}</td>
                                {% endwith %}
                                <td><button data-bs-toggle="modal" data-bs-target="#order_detail{{i.id}}" class="btn waves-effect waves-light btn-secondary model_img img-responsive">view</button></td>
                                {% with i=i.approved_form %}
                                 <td><span class="label label-info">{{i.get_date}}</span></td>
                                 <td><span class="label label-success">{% if i.approved_pending_cancelled == 'p' %} Pending {% elif i.approved_pending_cancelled == 'a' %} Approved {% elif i.approved_pending_cancelled == 'c' %} Cancelled {% else %} Processing {% endif %}</span></td>
                                 {% if action%}
                                 <td>
                                   <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                           <i class="bi bi-three-dots-vertical" style="color: red;"></i>
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li>
                                                <a class="dropdown-item" href="{% url "AllMemberList" pk=i.id approved_pending_cancelled="p"  %}"> 
                                                    {%if i.approved_pending_cancelled == "p" %} 
                                                <i class="bi bi-check-lg"></i> 
                                                {% else %} &nbsp; &nbsp;
                                                    {% endif %}
                                                Pending
                                                </a>
                                            </li>
                                            <li><a class="dropdown-item" href="{% url "AllMemberList" pk=i.id approved_pending_cancelled="a"  %}">
                                                {%if i.approved_pending_cancelled == "a" %} 
                                                <i class="bi bi-check-lg"></i> 
                                                {% else %} &nbsp; &nbsp;
                                                    {% endif %}
                                                Approved
                                            </a></li>
                                            <li><a class="dropdown-item" href="{% url "AllMemberList" pk=i.id approved_pending_cancelled="c"  %}">
                                                {%if i.approved_pending_cancelled == "c" %} 
                                                <i class="bi bi-check-lg"></i> 
                                                {% else %} &nbsp; &nbsp;
                                                    {% endif %}
                                                 Cancelled
                                            </a></li>
                                        </ul>
                                        </div>
                                 </td>
                                 <td style="display:none">{{i.phone}}</td>  
                                 <td style="display:none">{{i.get_shipping_address.email}}</td>
                                 {% endif %}                                                          
                            </tr>
                            {% endwith %}
                            {% comment %} <script>
                                    $(document).ready(function($){
                                        $(".clickable-row{{forloop.counter}}").click(function() {
                                            window.location = $(this).data("href");
                                        });
                                    });
                            </script> {% endcomment %}
                    
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----modal-->

<div class="card">
    <div class="card-body">      
        <!-- sample modal content -->
        <!----for loop-->
       {% for id_data in all_data %}  
        <div id="order_detail{{id_data.id}}" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            {% with id_data=id_data.approved_form %}
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter">APPLICATION DETAIL</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <!-----order detail-->

                        <div class="row">

                            <!-- column -->
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Application Review Progress bars <a class="get-code" data-bs-toggle="collapse" href="#pgr2" aria-expanded="true"><i class="fa fa-code" title="Get Code" data-bs-toggle="tooltip"></i></a></h4>
                                        <div class="collapse m-t-15" id="pgr2"> <pre class="line-numbers language-javascript"><code>&lt;div class="progress"&gt;<br/>&lt;div class="progress-bar bg-success" role="progressbar" style="width: 75%;height:15px;" role="progressbar""&gt; 75% &lt;/div&gt;<br/>&lt;/div&gt;</code></pre> </div>
                                        <div class="progress m-t-20">
                                            <div class="progress-bar bg-success" style="width: {% if id_data.dsc == 'd' %} 25% {% elif id_data.dsc == 's' %} 50% {% elif id_data.dsc == 'c' %} 75% {% elif id_data.dsc == 'approved' %} 100% {% else %} 25% {% endif %} ; height:15px;" role="progressbar">{% if id_data.dsc == 'd' %} 25% {% elif id_data.dsc == 's' %} 50% {% elif id_data.dsc == 'c' %} 75% {% elif id_data.dsc == 'approved' %} 100% {% else %} 25% {% endif %}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <center>
                                    <h3 class="">FENFIT APPLICATION</h3>
                                    <h6 class="card-subtitle text-info">{% if id_data.dsc == 'd' %} Pending on DISTRICT {{id_data.get_user_application_detail.district}} {% elif id_data.dsc == 's' %} Pending on STATE {{id_data.get_user_application_detail.state}} {% elif id_data.dsc == 'c' %} Pending on CENTRAL LEVEL {% elif id_data.dsc == 'approved' %} approved from all level {% else %} User Need to Forward for further Process {% endif %}</h6>
                                        <!-- <h4 class="box-title m-t-40">Application description</h4>
                                        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. but the majority have suffered alteration in some form, by injected humour</p> -->
                                        <h2 class="m-t-4"><small class="text-success">{% if id_data.dsc == 'd' %} (25% COMPLETED) {% elif id_data.dsc == 's' %} (50% COMPLETED) {% elif id_data.dsc == 'c' %} (75% COMPLETED) {% elif id_data.dsc == 'approved' %} (100% COMPLETED) {% else %} (25% COMPLETED) {% endif %}</small></h2>
                                        <button class="btn btn-primary btn-rounded">{% if id_data.dsc == 'd' %} DISTRICT {{id_data.get_user_application_detail.district}} NOT APPROVED YET {% elif id_data.dsc == 's' %} STATE {{id_data.get_user_application_detail.state}} NOT APPROVED YET {% elif id_data.dsc == 'c' %} CENTRAL LEVEL NOT APPROVED YET {% elif id_data.dsc == 'approved' %} ALL APPROVED PROCESS COMPLETED {% else %} CLIENT {{id_data.get_user_application_detail.owner_full_name}} NEED TO FORWARD {% endif %}</button> 
                                </center>      
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <center>
                                   <h3 class="box-title m-t-4">Comments Highlights</h3>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check text-success"></i> Sturdy structure</li>
                                        <li><i class="fa fa-check text-success"></i> Designed to foster easy portability</li>
                                        <li><i class="fa fa-check text-success"></i> Perfect furniture to flaunt your wonderful collectibles</li>
                                    </ul>
                                </center>
                            </div>
                            <!-- column -->
                        </div>
                        
                        <div class="row">
                            <!-- Column -->
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="white-box text-center"> <img src="{{id_data.get_user_application_detail.certificate_company_registration.url}}" class="img-responsive"> </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="white-box text-center"> <img src="{{id_data.get_user_application_detail.certificate_company_registration.url}}" class="img-responsive"> </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="white-box text-center"> <img src="{{id_data.get_user_application_detail.certificate_company_registration.url}}" class="img-responsive"> </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6">
                                                <div class="white-box text-center"> <img src="{{id_data.get_user_application_detail.certificate_company_registration.url}}" class="img-responsive"> </div>
                                            </div>
                        
                                      
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <h3 class="box-title m-t-40">General Info</h3>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td width="390">Name</td>
                                                                <td>{{id_data.get_user_application_detail.owner_full_name}} </td>
                                                            </tr>
                                                            <tr>
                                                                <td>state</td>
                                                                <td>{{id_data.get_user_application_detail.state}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>district</td>
                                                                <td>{{id_data.get_user_application_detail.district}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Munciplity</td>
                                                                <td>{{id_data.get_user_application_detail.municipality}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ward Number</td>
                                                                <td> {{id_data.get_user_application_detail.ward_number}} </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tole</td>
                                                                <td> {{id_data.get_user_application_detail.tole}} </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                        </div>
                        <!-----close order detail-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info waves-effect text-white" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {% endwith %}
        {% endfor %}
        <!----end for loop  -->
    </div>
</div>
