{% load staticfiles %}
     <!-- Info box Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {%if id_data%}
                                    <form action="{% url action pk=id_data.id %}" name="prodform" method="post" enctype="multipart/form-data">
                                    {%else%}
                                    <form action="{% url action %}" method="post" name="prodform" enctype="multipart/form-data">
                                {%endif%}
                                {% csrf_token %}
                                    <div class="form-body">
                                        {% if messages%}
                                            {%for message in messages%}
                                                <div class="alert alert-info"> 
                                                    {% autoescape off %}
                                                        {{message}}
                                                    {% endautoescape %} 
                                            </div>
                                            {%endfor%}
                                        {%endif%}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <h5 class="card-title">Add Product</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Product Name</label>
                                                    <input type="text" id="pname" name="product_name" class="form-control" value="{{id_data.name}}" placeholder="Rounded Chair" required> </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Title</label>
                                                    <input type="text" name="title" id="lastName" class="form-control" placeholder="one line described" value="{{id_data.title}}"> </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Category</label>
                                                    <select class="form-control" name="category" data-placeholder="Choose a Category" tabindex="1" required>
                                                        {% for cat in category %}
                                                            <option value="{{cat.id}}" {% if id_data.category_id == cat.id %}selected{% endif %}>{{cat.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Status</label>
                                                    <br/>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadioInline1" name="status" value="1" class="form-check-input" {% if id_data.status == 1 %} checked {% endif %} >
                                                        <label class="form-check-label" for="customRadioInline1">Publish</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadioInline2" name="status" value="0" class="form-check-input" {% if id_data.status != 1 %} checked {% endif %}>
                                                        <label class="form-check-label" for="customRadioInline2">Draft</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Price</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1"><i class="ti-money"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" name="price" value="{{id_data.price}}" placeholder="price" aria-label="price" aria-describedby="basic-addon1" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Discount In %</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon2"><i class="ti-cut"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="discount_type" onkeyup="Change1(value)" name="discount_type" value="{{id_data.discount_type}}" placeholder="in percentage" aria-label="Discount" aria-describedby="basic-addon2" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Discount In रू</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon2"><i class="ti-cut"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" onkeyup="Change2(value)" name="discount" value="{{id_data.discount}}" placeholder="Discount" aria-label="Discount" aria-describedby="basic-addon2">
                                                    </div>
                                                </div>
                                            </div>
                                          
                                            <!--/span-->
                                        </div>
                                        <h5 class="card-title m-t-40">Product Description</h5>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <textarea name="discription" class="form-control" rows="4">{{id_data.discription}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Meta Title</label>
                                                    <input type="text" name="meta_title" class="form-control" value="{{id_data.title}}"> </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Meta Keyword</label>
                                                    <input type="text" name="keyword" class="form-control" value="{{id_data.keyword}}"> </div>
                                            </div>
                                            <!--/span-->
                                      
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Upload1</h4>
                                                        <input name="image1" type="file" id="input-file-now1" class="dropify" />
                                                    </div>
                                                </div>
                                                {% if id_data.image1 %}
                                                    <script>
                                                        $("#input-file-now1").attr("data-default-file", "{{id_data.image1.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Upload2</h4>
                                                        <input name="image2" type="file" id="input-file-now" class="dropify" />{{id_data.image2}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Upload3</h4>
                                                        <input name="image3" type="file" id="input-file-now" class="dropify" />{{id_data.image3}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Upload4</h4>
                                                        <input name="image4" type="file" id="input-file-now" class="dropify" />{{id_data.image4}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="card-title m-t-40">GENERAL INFO</h5>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered td-padding">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="form-control" value="{{id_data.brand}}" name="brand" placeholder="Brand">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" value="{{id_data.vendor}}" name="vendor" placeholder="Vendor">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="form-control" value="{{id_data.payment_type}}" name="payment_type" placeholder="Payment type">
                                                                </td>
                                                                <td>
                                                                    <input type="text" name="size" class="form-control" placeholder="Knock Down">
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <hr> </div>
                                    <div class="form-actions m-t-40">
                                        <button type="submit" class="btn btn-success text-white"> <i class="fa fa-check"></i> Save</button>
                                        <button type="button" class="btn btn-dark">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <script>
                        function Change1(value){
                            var percentage = document.getElementById('discount_type').value;
                            var percentage = percentage.replace(/%/,'')
                            var total = document.prodform.price.value;
                            document.prodform.discount_type.value = percentage + "%";
                            document.prodform.discount.value = total*percentage / 100  ;

                        }
                        function Change2(value){
                            var percentage = document.prodform.discount.value
                            var total = document.prodform.price.value;
                            document.prodform.discount_type.value = 100 * percentage / total + "%";

                        }
                </script>
                    <!-- Model for import -->
    <div class="col-md-4">
   
                <!-- sample modal content -->
                <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="mySmallModalLabel">Import Product csv</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                            </div>
                            <div class="modal-body">
                             <form  method="post" action="{% url 'AddProduct' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                  <label for="" class="form-label">Select Excel File : </label>
                                  <input type="file" class="form-control" name="file" id="" aria-describedby="helpId" placeholder=""/>
                                </div>
                                <div class="mb-3" style="display: grid;">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- <img src="../assets/images/alert/model3.png" alt="default" data-bs-toggle="modal" data-bs-target=".bs-example-modal-sm" class="model_img img-responsive" /> -->
    </div>
    <!-- end model for image -->